#container {
  background: linear-gradient(
    270deg,
    #c0f -2.84%,
    #5756ff 33.42%,
    #07fdfd 99.91%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-style: normal;
  font-family: "Overpass", sans-serif;
  font-weight: 500;
  line-height: normal;
}

#notification {
  width: 300px;
  height: 60px;
  border: 1px solid black;
  padding: 10px 20px;
  position: absolute;
  color: white;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
}
